/*----------------------------------------------------------*\
  ZONE DE RECHERCHE
\*----------------------------------------------------------*/
.search-zone {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 4px;
}

.fa-map-marker-alt {/*en enlevant le fas qui précède ça marche...*/
  color: black; /*annule le bleu défini dans base.css:90*/
  background-color: #F2F2F2;
  padding: 17px 21px 20px 21px;
  border-radius: 15px 0 0 15px;
}

.search-input {
  width: 222px;
  border-style: solid;
  padding-left: 16px;
  border-color: #F2F2F2;
  border-radius: 0px;
}

::placeholder { /*pseudo élément*/
  font-size: 1.1em;
  font-weight: 700;
  color: black;
}

.search-zone button {
  font-size: 1.1em;
  font-weight: 700;
  color: #FFFF;
  background-color: #0065FC;
  text-decoration: none; /*supprime le soulignage du lien*/
  padding: 14px 17px 15px 17px;
  border-radius: 0 15px 15px 0;
  border-style: none;
  cursor: pointer;
}

.search-zone .btn-validation-SmallScreen {
  border-radius: 15px 15px;
  opacity: 0;
  position: relative;
  left: -130px;
}

.fa-search {
  color: white;
}

/*----------------------------------------------------------*\
  FILTRES
\*----------------------------------------------------------*/
.filtres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /*applique cesure entre flitres-title et filtre*/
  align-items: baseline;
  margin: 29px 0 0 12px;
}

.filtres-title {
  font-size: 1.3em;
  font-weight: 700;
  margin: 16px 24px 16px 0px;
}

label {
  display: inline-block;/*label est une balise inline, ici on veut lui faire accepter le (marginxpadding) (top+bottom)*/
  font-weight: 600;
  padding-right: 20px;
  border-style: solid;
  border-color: #F2F2F2;
  border-radius: 30px;
  margin: 0 24px 12px 0;
  white-space: nowrap;
}

.filtres-options-label {
  font-size: 1.1em;
  font-weight: 700;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
  width: 17px;
  color: #0065FC;
  background-color: #F3F8FF;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  position: relative;
  left: -3px;
}

/*----------------------------------------------------------*\
  RESPONSIVE
\*----------------------------------------------------------*/
@media screen and (max-width: 460px) {
  .search-input {
    width: 230px;
  }

  .search-zone .btn-validation-BigScreen {
  opacity: 0;
  }

  .search-zone .btn-validation-SmallScreen {
  opacity: 1;
  }
}