/*----------------------------------------------------------*\
	HEADER
\*----------------------------------------------------------*/
header {
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/*----------------------------------------------------------*\
  LOGO
\*----------------------------------------------------------*/
header .logo-container {
    flex-grow: 1;
    padding-left: 2px;
}

.header-logo {
  width: 92px;
  height: 43px;
  padding: 42px 0 0 0;
}

/*----------------------------------------------------------*\
  MENU
\*----------------------------------------------------------*/
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0; /*pour enlever le padding left et que logo container prenne la place*/
    width: 288px;
    justify-content: space-around;
}

header nav li a {
    padding: 48px 25px; /*defini ainsi la hauteur de tout les élément de nav à cause du aligns-items//De plus padding-top seul ne marche pas pour aligner les éléments de nav, le padding de côté pour que la bordure dépasse en focus*/
    display: block; /*important pour la propriété précédente fonctionne*/
    /*margin-left: 33px;
  margin-right: 33px;*/
    border-top: 2px solid rgba(245, 245, 245, 0); /*si tu ne le mets pas maintenant (caché en opacité), il décalera de son épaisseur les éléments en dessous*/
    color: black;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

header nav li a:visited {
    color: black;
}

header nav li a:hover, header nav li a:focus {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/*----------------------------------------------------------*\
  SIGN UP BTN
\*----------------------------------------------------------*/
header .SignUp-btn {
    background-color: unset; /*pourquoi il y'a un background sans!???*/
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-weight: bold;
    color: #0065FC;
    cursor: pointer;
    margin: 35px 25px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

header .SignUp-btn:hover, header .SignUp-btn:focus {
  background-color: #0065FC;
  color: white;
}

/*----------------------------------------------------------*\
	RESPONSIVE
\*----------------------------------------------------------*/
@media screen and (max-width: 650px) {
  
  /*----------------------------------------------------------*/
    header {
      align-items: center;
      margin-top: 20px;
    }

    /*LOGO*/
    header .logo-container img {
      padding: 0 20px 0 0;
    }

    /*MENU*/
    header nav {
    order: 2;
    width: 100%;
    }

    header nav ul {
      width: 100%;
      padding: 0px;
    }

    header nav ul li {
      width: 50%;
      text-align: center;
    }

    header nav ul li a,
    header nav ul li a:hover,
    header nav ul li a:focus {
      border: none;
      color: inherit;
      border-bottom: #F2F2F2 2px solid;
      padding: 23px 0 19px;
    }

    header nav ul li a:active,
    header nav ul li a:focus {
      /*When the current page is the active menu element.
      Not working at the moment, since it is a prototype.*/
      border-bottom: #0065fc 2px solid;
      padding-bottom: 17px;
      color: #0065fc;
    }

    /*SIGNUP-BTN*/ 

    header .SignUp-btn {
      margin: 25px 0;
    }

    header .SignUp-btn:hover,
    header .SignUp-btn:focus {
      background: none;
      color: #0065fc;
    }
}
