body {
	width: 1366px;
}

	.l-container {
		padding: 0 18px;
	margin: 0 28px;
}

.slogan {
	margin: 40px 0 19px 6px;
}

.recherche {
	margin-top: 22px;
}

.results-info {
	margin-left: 9px;
}
.fa-chart-line {
	padding-left: 112px;
}

.results-activities .articles-container {
	height: 422px;
}