body {
	width: 1366px;
	margin: 0 auto; /*évite le margin de body dans microsoft edge*/
	/*padding-left: 91px; /*car le body est coupé à gauche dans la version mobile*/
}

.l-container {
	padding: 0 18px;
	margin: 0 28px;
}

.slogan {
	margin: 40px 0 19px 6px;
}

.recherche {
	margin-top: 22px;
}

.results-info {
	margin-left: 9px;
}

/*.fa-chart-line {
	padding-left: 103px;
} results-section.css:52 est mieux, tu avais aussi penser à position relative mais pas top*/

.results-activities .articles-container {
	height: 422px;
}