/*----------------------------------------------------------*\
  RESULT-INFO-
\*----------------------------------------------------------*/
.fa-info {
  color: #0065FC;
  border: 1.5px solid #F2F2F2;
  border-radius: 30px;
  padding: 4px 8px 5px 8px;
  margin-right: 12px;
}

.results {
  display: flex;
  /*justify-content: space-between;*/
}

/*----------------------------------------------------------*\
	MAIN SECTION
\*----------------------------------------------------------*/
.results-main {
  display: flex;
  flex-direction: column;
  width: 59.76%;
  /*height: 505px;*/
  padding: 44px 38px 36px 38px;
  margin-right: 38px;
}

.results-main-afficherplus {
  /*flex: 1; display et hustify ou align sel ou text align ou inline flex/bloc rien n'a marché mais ça oui. Tu dois qd mm mettre un padding gauche car ne respecte pas le parent*/
  font-weight: bold;
  margin: 41px 0 0 0; /*40-14.5*/
  padding-left: 4px;
}

.results section.results-main-afficherplus:hover,
.results section.results-main-afficherplus {
  text-decoration: underline;
}

/*----------------------------------------------------------*\
  POPULAR SECTION
\*----------------------------------------------------------*/
.results-popular {
  width: 25.35%;
  /*height: 505px;*/
  padding: 44px 38px 4px 38px;
}

.results aside.results-popular i{
  color: black;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.results aside.results-popular h2 {
  display: flex;
  justify-content: space-between;
}

.results aside.results-popular h2 i:hover,
.results aside.results-popular h2:focus-within i {
  opacity: 0.5;
}

/*----------------------------------------------------------*\
	Articles-containers
\*----------------------------------------------------------*/
.results-main .articles-container, .results-popular .articles-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row-gap: 29px;
  column-gap: 29px;
}

.results section.results-section-background, aside.results-section-background {
  background-color: #F2F2F2;
  border-radius: 30px;
}

/*----------------------------------------------------------*\
  ACTIVITÉS
\*----------------------------------------------------------*/
.results-activities {
  /*background-color: red;*/
}

.results-activities .articles-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;/*utilité*/
  column-gap: 41px;
  grid-row-gap: 41px;
  /*height: 442px; A ne pas mettre bizarrement*/
}

/*ici bas  article à 100% c'est img qui prend toute la place il faut après définir la hauteur de img avec la classe results-activities-photo pour laisser apparaître h3*/
.mini-container-1 article {
  height: 100%;
}

.mini-container-1 article .results-activities-photo {
  height: 369px;
}

.mini-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-container-2 .article-big {
   height: 53.08%;
}

.mini-container-2 .article-big .results-activities-photo {
  height: 170px;
}

.mini-container-2 .article-small {
   height: 36.97%;
}

.mini-container-2 .article-small .results-activities-photo {
  height: 104px;
}

.mini-container-3 article { 
  height: 100%;
}

.mini-container-3 article .results-activities-photo {
  height: 369px;
}

.mini-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-container-4 .article-small {
   height: 43.84%;
}

.mini-container-4 .article-small .results-activities-photo {
  height: 132px;
}

.mini-container-4 .article-big {
   height: 46.92%;
}

.mini-container-4 .article-big .results-activities-photo {
  height: 144px;
}

/*----------------------------------------------------------*\
	RESPONSIVE
\*----------------------------------------------------------*/
  @media screen and (max-width: 1356px) {
    .articles-container {
      flex-wrap: wrap;
      height: auto;
    }

    .results-main article {
      min-width: 45.95%;
    }

    .results-popular .articles-container {
      height: 625px;
    }

    .results-popular .results-card-popular-photo {
      height: 169.75px;
    }

    /*.results-popular article {
      height: 178.6px;
    } Ne marche pas quand height fixe en 'px' dans card-article.css:40*/

    .results-activities {
      padding: 0 44px;
      height: 2770px;/*Pourquoi auto ne marche pas car footer se met en plein milieu*/
    }

    .results-activities .articles-container >* {
          flex: 0.5 0 41.88%;
    }

    /*.mini-container-4 article{
      width: 50%;
    }

    /*.mini-container-1, .mini-container-2, .mini-container-3 , .mini-container-4 {
      min-width: 30.88%;
    }*/

    /*.mini-container-4 {
      flex-direction: row;
      column-gap: 41px;
      /*min-width: 60.76%;
      flex: 0.3 1 50%;
    }*/
   
  }

  @media screen and (max-width: 1210px) {
    .results {
      flex-direction: column;
      max-width: 1100.8px;
    }

     .results-main {
      order: 2;
      background-color: unset;
      width: 100%
    }

    .results-popular {
      order: 1;
      flex-direction: row;
      width: 100%;
      margin-bottom: 30px;
      padding-bottom: 36px;
    }

    .results-popular .articles-container {
      height: auto;
    }

    .results-popular .articles-container article {
      width: 30.5%;
    }

    .results-activities {
      order: 3;
    }

     .results-activities .articles-container >* {
      flex: 0 0 100%;
      height: 100% /*la photo ne bouffe pas la description*/
    }

    .results-activities .articles-container .mini-container-2 {
      height: auto; /*ne pas fixer à 844 (double du div m^me portée*/
      grid-row-gap: 41px;
    }

    .results-activities .articles-container .mini-container-2 article {
      height: 50%;
    }

    .mini-container-2 .results-activities-photo {
      min-height: 369px; /*height normal ne marche pas parce que déjà utilisé pour cet élément?*/
    }

     .results-activities .articles-container .mini-container-4 {
      height: auto;
      grid-row-gap: 41px;
    }

    .results-activities .articles-container .mini-container-4 article {
      height: 50%;
    }

    .mini-container-4 .results-activities-photo {
      min-height: 369px; /*height normal ne marche pas parce que déjà utilisé pour cet élément?*/
    }

  }

 @media screen and (max-width: 1144px) {

    .results-popular .articles-container {
      height: auto;
    }

    .results-popular .articles-container article {
      min-width: 44.5%;
    }

  }

  @media screen and (max-width: 740px) {

    .results-popular {
      margin-bottom: 0px;
    }

    .results-popular .articles-container {
      height: auto;
    }

    .results-popular .articles-container article {
      min-width: 100%;
    }

    .results section.results-section-background {
      background-color: unset;
    }

    .results-main article {
      min-width: 100%;
    }

  }

 /* @media screen and (max-width: 1090px) {
  .results {
    flex-direction: column;
    padding: 0;
  }

  .l-container {
    margin: 0 18px;
    padding: 0 18px;
  }

  .results-activities .articles-container {
      display: flex;
      flex-direction: column;
      height: 1000px;
    }

    .results section.results-activities article {
      height: 211px;
    }
  }

  @media screen and (max-width: 1078px) {
    .results-popular article {
      width: 42.95%;
    }
  }
